
.slick-list {
   overflow: hidden
}
/* Лента слайдов */
.slick-track{
   @include flexbox;
   align-items: flex-start;
}

.block__arrows{
   @include flexbox;
   justify-content: space-between;
   margin-top: 10px;
}
/* Стрелка */
.slick-arrow{
   font-size: 0;
   height: 20px;
   width: 20px;
   cursor: pointer;
   
}
/* Стрелка влево */
.slick-arrow.slick-prev{
   background: url('../img/arrows/left.png') 0 0 / 100% no-repeat;
   
   
}
/* Стрелка вправо */
.slick-arrow.slick-next{
   background: url('../img/arrows/right.png') 0 0 / 100% no-repeat;
}
