@import "_nullstyle.scss"; 
@import "ibg.scss"; 
@import "header.scss"; 
@import "fonts.scss"; 
@import "styletext.scss"; 
@import "mixin.scss"; 
@import "anim.scss"; 
@import "slider.scss"; 


.container{
   max-width: 1212px;
   margin: 0 auto;
   padding: 0 15px;
}
.slider__item{
   min-height: 100vh;
   div{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      
   }
}

/* Слайдер */
.slick-slider{}

.slick-list {
   overflow: hidden;
}
/* Лента слайдов */
.slick-track{
   @include flexbox;
}

/* Точки (булиты) */
.slick-dots{
   @include flexbox;
   justify-content: center;
   align-items: center;
   
}
.slick-dots li button::before{
   content: '0';
}
.slick-dots li{
   
}
/* Активная точка */
.slick-dots li.slick-active button{
   color: #FFF;
   font-size: 36px;
   text-decoration: line-through;
	text-decoration-color: #4CAF50;
   transition: all 0.8s ease 0s;
}
/* Элемент точки */
.slick-dots li button{
   transition: all 0.8s ease 0s;
   color: rgba(255, 255, 255, 0.44);
   font-size: 18px;
   font-family: Oswald;
   font-weight: 700;
   letter-spacing: 1.152px;
   margin-right: 10px;
}




.main-screen__bg{
   position: relative;
}
.heder__contant{
   .header__title{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 40%;
      text-align: center;
      @include _768{
         top: 30%
      }
      h2{
         @include adaptiv-font(72, 44);
      }
      p{
         padding-top: 25px ;
      }
   }
   .header__dots{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-bottom: 24px ;
      
   }
}

.content{
   .we-are{
      overflow: hidden;
      margin-top: 130px;
      .we-are__contant{
         position: relative;
         width: 100%;
         .we-are__title{
            @include flexbox;
            justify-content: space-between;
            z-index: 6;
            @include _768 {
               @include flex-direction(column);
            }
            .text__block-1{
               
               
               z-index: 5;
               padding-top: 73px;
               color: #504E4E;
               font-family: OpenSans;
               font-weight: 300;
               h3{
                  font-size: 42px;
                  padding-top: 10px;
                  letter-spacing: 2.688px;
               }
               
            }
            p{
               font-size: 15px;
               padding-left: 51px;
               padding-top: 30px;
               line-height: 25px;
               letter-spacing: 1.26px;
               max-width: 281px;
            }
            .line::before{
               border-top: 2px solid #353535;
               display: block;
               position: relative;
               top: 14px;
               right: 30px;
               width: 20px;
               
               
               content: "";
            }
            .text__block-2{
               @include flexbox;
               align-items: end;
               margin-top: 404px;
               margin-right: 20px;
               z-index: 5;
               @include _768 {
                  margin-top: 15%;
               }
            }
         }
         
         
            .we-are__img{
               img{
                  position: absolute;
               }
               img:nth-child(1){
                  z-index: 4;
                  top: 0;
                  left: 195px;
               }
               .div-block {
                  z-index: 3;
                  position: absolute;
                  top: 62px;
                  left: 403px;
                  width: 309px;
                  height: 418px;
                  opacity: 0.800000011920929;
                  background: #4CAF50;
               }
               img:nth-child(3){
                  top: 168px;
                  right: 260px;
               }
            }
         
         @media (max-width:767px) {
            .we-are__img{
               
               
               img:nth-child(1){
                  margin-left: auto;
                  margin-right: auto;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  opacity: 0.5;
               }
               .div-block{
                  display: none;
               }
               img:nth-child(3){
                  margin-left: auto;
                  margin-right: auto;
                  top: 250px;
                  left: 0;
                  right: 0;
                  opacity: 0.5;
                  
                  
                  
                  
               }
            }
         }
      }
   }
   .servises{
      overflow: hidden;
      margin-top: 197px;
      padding-top: 130px;
      padding-bottom: 136px;
      @include _768 {
         margin-top: 0px;
      }
      background: #FBFBFB;
      .servises__title{
         
         @include _768{
            @include flexbox;
            @include flex-direction (column);
            align-items: center;
            padding-top: 80px;
            .title{
               text-align: center;
            }
            
         }
         
      }
      .servises__column{
         margin-top: 94px;
         @include flexbox;
         gap: 28px;

         @include _768{
            margin-top: 40px
         }
         @include _768{
            @include flex-direction(column);
            align-items: center;
         }
         .servises__item {
            max-width: 373px;
            background-color: #FFF;
            .block__contant{
               width: 100%;
               padding: 50px 50px 35px 45px;
               .block__img{
                  @include flexbox;
                  justify-content: space-between;
                  align-items: center;
                  .shadow{
                     @include flexbox;
                     align-items: center;
                     justify-content: center;
                     height: 50px;
                     width: 50px;
                     border-radius: 50%;
                     background-color: #FFFF;
                     box-shadow:  0px 1px 100px 0px rgba(0, 0, 0, 0.5);
                     .title__img{
                        max-width: 25px;
                        img{
                           width: 100%;
                           opacity: 0.3;
                        }
                     }
                  }
               }
               .block__title{
                  margin-top: 36px;
                  p{
                     margin-bottom: 19px;
                  }
                  span{
                     
                     color: #252525;
                     font-size: 10px;
                     font-family: Oswald;
                     font-weight: 300;
                     letter-spacing: 0.64px;
                     opacity: 0.5;
                  }
               }
            }
         }
      }
   }
   .works{
      margin-top: 146px;
      margin-bottom: 173px;
      @include _768{
         margin-top: 40px;
         margin-bottom: 50px;
      }
      .works__block{

         .works__columns{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            justify-content: space-between;
            @include _768 {
               display: block;
            }
            .column-1{
               .title__block{
                  padding-top: 45px;
                  @include _768{
                     @include flexbox;
                     @include flex-direction (column);
                     align-items: center;
                  }

               }
               .block__li{
                  margin-top: 40px;
                  @include _768{
                     text-align: center;
                  }
                  ul{
                     display: grid;
                     grid-template-columns: repeat(auto-fit,minmax(24px, 104px));
                  
                     
                     li{
                     
                        color: #252525;
                        font-size: 10px;
                        font-family: OpenSans;
                        font-weight: 300;
                        letter-spacing: 1.3;
                        padding-bottom: 10px;

                     }
                  }
               }
               .block-2, .block-4{
                  margin-top: 210px;
                  @include _768{
                     margin-top: 80px;
                  }
                  .block__text{
                     top: 300px;
                     right: 12px;
                     @include _768{
                        top: 200px;
                        right: 0;
                     }
                  }
                  .block__sub-text{
                     padding-left: 30%;
                  }
               }
               .block-4{
                  margin-top: 180px;
                  @include _768{
                     margin-top: 80px;
                  }
               }
            }
            .column-2{
               
               position: relative;
               
               .block-1, .block-3{
                  display: grid;
                  justify-content: end;
                  
                  
                  .block__text{
                     top: 282px;
                     left: 0;
                     @include _768{
                        top: 200px;
                        left: 0;
                     }
                  }
                  .block__sub-text{
                     padding-right: 27%;
                     
                     h3{
                        text-align: right;
                        
                     }
                     p{
                        text-align: right;
                     }
                  }
               }
               .block-3{
                  margin-top: 173px;
                  @include _768{
                     margin-top: 80px;
                  }
               }
               .block-1{
                  @include _768{
                     margin-top: 80px;
                  }
               }
               .link{
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  @include _768 {
                     position: relative;
                     margin-top: 35px;
                     text-align: center;
                  }
                  a{
                     color: #252525;
                     text-align: right;
                     font-size: 13px;
                     font-family: Oswald;
                     letter-spacing: 2px;
                     cursor: pointer;
                  }
               }

            }
            // Общие стили
            .block__item{
               position: relative;
               
               .block__img{
                  max-width: 455px;
                  img{
                     width: 100%;
                  }
               }
               .block__text{
                  position: absolute;
                  max-width: 452px;
               }
               .block__sub-text{
                  max-width: 455px;
                  margin-top: 17px;
                  h3{
                     color: #252525;
                     padding-bottom: 17px;
                     font-size: 18px;
                     font-family: OpenSans;
                     font-weight: 300;
                     letter-spacing: 1.152px;
                     
                  }
                  p{
                     color: #C2C2C2;
                     
                     font-size: 13px;
                     font-family: OpenSans;
                     font-weight: 300;
                     line-height: 23px;
                     letter-spacing: 0.832px;
                  }
               }
            }
            
            
               
         }
      }
   }
   .team{
      padding-top: 129px;
      padding-bottom: 167px;
      @include _768{
         padding-top: 50px;
      }
      background-color: #FBFBFB;
      .team__block{

         .team__title{
            @include _768 {
               @include flexbox;
               @include flex-direction (column);
               align-items: center;
            }

         }
         .team__columns{
            margin-top: 74px;
            @include flexbox;
            gap: 28px;
            @include _768{
               @include flex-direction(column);
               align-items: center;
            }
            .block__item{
               position: relative;
               .block__img{
                  max-width: 370px;
                  img{
                     width: 100%;
                  }
               }
               .block__text{
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  text-align: center;
                  padding: 13px 0;
                  background-color: rgba(251, 251, 251, 0.5);;
                  
                  h2{
                     color: #252525;
                     font-size: 18px;
                     font-family: Oswald;
                     font-weight: 300;
                     letter-spacing: 1.152px;
                     
                  }
               }
            }
         }
      }
   }
   .people{
      margin-top: 117px;
      .people__block{
         max-width: 735px;
         margin: 0 auto;
         text-align: center;
         @include flexbox;
         @include flex-direction(column);
         align-items: center;
         p{
            color: #373737;
            text-align: center;
            font-size: 14px;
            font-family: OpenSans;
            font-weight: 300;
            line-height: 31px;
            letter-spacing: 0.896px;
         }
         .block__img{
            max-width: 20px;
            margin-top: 31px;
            img{
               width: 100%;
            }
         }
         h2{
            margin-top: 29px;
            color: #373737;
            text-align: center;
            font-size: 18px;
            font-family: Oswald;
            letter-spacing: 1.152px;
            span{
               opacity: 0.3;
               font-weight: 300;
            }
         }
         .block__star{
            @include flexbox;
            
            gap: 9px;
            
            .block__img{
               max-width: 15px;
               img{
                  width: 100%;
               }
            }
         }
      }
      .border__line{
         width: 50%;
         border: 1px solid #D8D8D8;
         opacity: 0.5;
         margin: 0 auto;
         margin-top: 29px;
      }
   }
   
   .container__bottom{
      max-width: 1800px;
      margin: 0 auto;
   }
   .bottom{
      margin-top: 117px;
      @include _768{
         margin-top: 80px;
      }
      .bottom__block{

         .bottom__column{
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include _350{
               display: block;
            }
            
            .block__work{
               background-color: #FBFBFB;
               .block__text{
                  color: #373737;
               }
               
            }
            .block__contact{
               background-color: #70BD59;
               .block__text{
                  h3,p {
                     color: #FFFFFF;
                  }
               }
            }
            .block__item{
               @include flexbox;
               @include flex-direction(column);
               justify-content: center;
               align-items: center;
               padding: 72px 0px 100px 0px;

               .block__img{
                  max-width: 35px;
                  margin-bottom: 16px;
                  img{
                     width: 100%;
                  }
               }
               .block__text{
                  h3{
                     
                     text-align: center;
                     font-size: 24px;
                     font-family: Oswald;
                     letter-spacing: 2.667px;
                     margin-bottom: 22px;
                  }
                  p{
                     
                     text-align: center;
                     font-size: 14px;
                     font-family: OpenSans;
                     font-weight: 300;
                     letter-spacing: 1.556px;
                  }
               }
            }
         }
      }
   }
   .footer{
      background: #2E2E2E;
      padding-top: 142px;
      padding-bottom: 82px;
      .footer__block{
         @include flexbox;
         @include flex-direction(column);
         justify-content: center;
         align-items: center;
         
         .block__text{
            text-align: center;
            h3{
               color: #FFF;
               font-size: 13px;
               font-family: Oswald;
               font-weight: 300;
               letter-spacing: 0.832px;
               margin-top: 10px;
            }
            h3:first-child{
               margin: 0;
            }

         }
         .block__img{
            @include flexbox;
            gap: 21px;
            justify-content: center;
            margin-top: 39px;
            .img{
               max-width: 32px;
               img{
                  width: 100%;
               }
            }
         }
      }
   }
   .sub__footer{
      background: #252525;
      .sub__footer-text{
         text-align: center;
         padding: 20px 0;
         h3{
            color: #FFF;
            font-size: 13px;
            font-family: Oswald;
            font-weight: 300;
            letter-spacing: 0.832px;
         }
      }
   }
}


